/* src/index.css */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* @font-face {
  font-family: 'Satisfy', sans-serif;
  src: url('/public/Fonts/Satisfy/Satisfy-Regular.ttf')
} */

@font-face {
  font-family: 'Silkscreen';
  src: url('/public/Fonts/Silkscreen/Silkscreen-Regular.ttf')
}

.App-header {
  font-family: 'Silkscreen', sans-serif  ;
  background-color: #557341;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.VineTree{
  height: auto;
  width: 100%;
}

/* `
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
